@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,600,400');

// @import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic');

// Declare how these fonts should be used
// ------------------------------------------------------
$font-body1: 'Open Sans', sans-serif;
$font-body2: 'Open Sans', sans-serif;
$font-body3: 'Open Sans', sans-serif;
$font-heading1: 'Open Sans', sans-serif;
$font-heading2: 'Open Sans', sans-serif;
